<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}
    <!-- bootstrap-5 -->
    <link rel="stylesheet" href="{% static 'lib/node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
    <script src="{% static 'lib/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>

    {% block scripts %}
    <!-- aqui van los scripts -->

    {% endblock scripts %}
  </head>
  <body>
    <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Buses</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'dashboard:index' %}">Inicio</a>
            </li>

            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'buses:ver_bus' %}">Buses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'buses:ver_registro' %}">Registro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin:auth_user_add' %}">Crear Usuario</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin:auth_group_add' %}">Crear Rol</a>
                </li>
            {% endif %}
        </ul>

        {% if user.is_authenticated %}
            <ul class="navbar-nav" style="margin-left: auto;">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'authenticate:logout' %}">Cerrar sesión</a>
                </li>
            </ul>
        {% else %}
            <ul class="navbar-nav" style="margin-left: auto;">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'authenticate:login' %}">Iniciar sesión</a>
                </li>
            </ul>
        {% endif %}
    </div>


    </nav>
  </header>

    <main>
      {% block contenido %}

      {% endblock contenido %}
    </main>
    <footer>
    </footer>
  </body>
</html>
