{% extends "base.html" %}

{% block contenido %}
<div class="container">
  <h2 class="mt-3">Personal</h2>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Nombres</th>
          <th>Apellidos</th>
          <th>DPI</th>
          <th>Telefono</th>
          <th>Correo</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for personal in persona %}
        <tr>
          <td>{{ personal.nombres }}</td>
          <td>{{ personal.apellidos }}</td>
          <td>{{ personal.DPI }}</td>
          <td>{{ personal.telefono }}</td>
          <td>{{ personal.correo }}</td>
          <td>
            <a href="{% url 'personal:editar_personal' personal.id %}" class="btn btn-primary btn-sm">Editar</a>
            <a href="{% url 'personal:eliminar_personal' personal.id %}" class="btn btn-danger btn-sm">Eliminar</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <a href="{% url 'personal:crear_personal' %}" class="btn btn-secondary mt-3">Crear Personal</a>
</div>

{% endblock contenido %}