{% extends "base.html" %}

{% block contenido %}
    <h1>Mi Mapa de Google</h1>
    <div id="map" style="width: 100%; height: 400px;"></div>

    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: 15.783471, lng: -90.230759 }, // Coordenadas de tu elección
                zoom: 12 // Nivel de zoom
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCy5gEodZV2TsHxd1UUQCiD1xx1VaAt5Hk&callback=initMap" async defer></script>
</body>
{% endblock contenido %}
