{% extends "base.html" %}

{% block contenido %}
    <h1>Mi Mapa de Google</h1>
    <div id="map" style="width: 100%; height: 400px;"></div>

    <button id="guardar-ubicacion">Guardar Ubicación</button>

    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: 15.783471, lng: -90.230759 }, // Coordenadas de tu elección
                zoom: 12 // Nivel de zoom
            });

            var marker;

            document.getElementById('guardar-ubicacion').addEventListener('click', function () {
                if (marker) {
                    // Obtén las coordenadas del marcador y guárdalas en tu aplicación
                    var latlng = marker.getPosition();
                    alert('Ubicación guardada: Latitud ' + latlng.lat() + ', Longitud ' + latlng.lng());
                } else {
                    alert('No has seleccionado una ubicación en el mapa.');
                }
            });

            // Agrega un evento click para permitir al usuario seleccionar una ubicación en el mapa
            map.addListener('click', function(event) {
                if (marker) {
                    marker.setPosition(event.latLng);
                } else {
                    marker = new google.maps.Marker({
                        position: event.latLng,
                        map: map,
                        title: 'Parada de Autobús'
                    });
                }
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCy5gEodZV2TsHxd1UUQCiD1xx1VaAt5Hk&callback=initMap" async defer></script>
{% endblock contenido %}