{% extends "base.html" %}

{% block contenido %}
<div class="container">
  <h2 class="mt-4">Tipos de Buses</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Tipo de Bus</th>
        <th>Capacidad</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for tipo_bus in tipos_de_buses %}
      <tr>
        <td>{{ tipo_bus.tipo }}</td>
        <td>{{ tipo_bus.capacidad }}</td>
        <td>
          <a href="{% url 'buses:editar_tipo_bus' tipo_bus.id %}" class="btn btn-warning btn-sm mx-1">Editar</a>
          <a href="{% url 'buses:eliminar_tipo_bus' tipo_bus.id %}" class="btn btn-danger btn-sm mx-1">Eliminar</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

    <a href="{% url 'buses:crear_tipo_bus' %}" class="btn btn-secondary ml-2">Crear Tipo Bus</a>
</div>
{% endblock contenido %}
