{% extends "base.html" %}

{% block contenido %}
<div class="container">
  <h2 class="mt-3">Registros</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Origen</th>
        <th>Cantidad de Personas</th>
        <th>Pasaje</th>
        <th>Buses</th>
        <th>Fecha</th>
      </tr>
    </thead>
    <tbody>
      {% for bus in registro %}
      <tr>
        <td>{{ bus.origen }}</td>
        <td>{{ bus.cantidad_per }}</td>
        <td>{{ bus.pasaje }}</td>
        <td>{{ bus.idBus }}</td>
        <td>{{ bus.fecha }}</td>
        <td>
          <a href="{% url 'buses:editar_registro' bus.id %}" class="btn btn-primary btn-sm">Editar</a>
          <a href="{% url 'buses:eliminar_registro' bus.id %}" class="btn btn-danger btn-sm">Eliminar</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <a href="{% url 'buses:crear_registro' %}" class="btn btn-secondary mt-3">Crear Registro</a>
</div>
{% endblock contenido %}